.footer {
  display: flex;
  justify-content: center;
  color: #6b6a6a;
  margin: 50px 0px;

  img {
    width: 24px;
    height: 24px;
  }
  .container {
    width: 1400px;

    .top {
      display: flex;
      justify-content: space-between;

      .item {
        display: flex;
        flex-direction: column;
        gap: 20px;

        h2 {
          font-size: 16px;
          color: #555;
        }

        span {
          font-weight: 300;
          cursor: pointer;

          &:hover {
            color: #1e1e1e;
          }
        }
      }
    }
    hr {
      margin: 50px 0;
      height: 0;
      border: 1px solid rgb(227, 227, 227);
    }
    .bottom {
      .left {
        display: flex;
        align-items: center;
        gap: 20px;

        span {
          font-style: 13px;
        }
      }
      .right {
        display: flex;
        align-items: center;
        gap: 30px;

        .social {
          margin: 10px 0;
          display: flex;
          align-items: center;
          gap: 20px;

          & > img:hover {
            filter: opacity(100%);
          }
        }

        .link {
          display: flex;
          align-items: center;
          gap: 10px;
        }
      }
    }
  }
}
