.myGigs {
  display: flex;
  justify-content: center;

  .container {
    width: 1400px;
    padding: 50px 0;

    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;

      button {
        background-color: #1dbf73;
        color: white;
        outline: none;
        font-weight: 500;
        border: none;
        padding: 10px;
        cursor: pointer;
      }
    }

    table {
      margin-top: 20px;
      width: 100%;
      border: 0.1px solid rgb(239, 235, 235);

      tr {
        height: 50px;

        td {
          text-align: center;
          .image {
            width: 50px;
            height: 25px;
            object-fit: cover;
          }
          .delete {
            width: 20px;
            cursor: pointer;
          }
        }

        &:nth-child(even) {
          background-color: #1dbf730f;
        }
      }
    }
  }
}
